.introduction {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color:rgb(181, 181, 181);
    background-color:transparent;
    font-family: sans-serif;
    font-weight: 300 1000;
  font-stretch: 80% 130%;
    font-size: 33px;
    text-align: center;
}
body {
    background-color: rgb(43, 43, 43);
}